@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

nav a{
    color: #666666;
    font-size: 16px;
}

nav a:hover{
    border-bottom: 3px solid #FFF2BF;
}

nav a:focus{
    border-bottom: 3px solid #FFF2BF;
}

.transparent {
    background: rgba(0, 0, 0, 0.5);
}

#social_icons a:hover{
    background: #ffd629;
}


#sections a:hover .border_style{
    border: 1px dashed black;
}

#social_icons a:active{
    background-color: #ffd629;
}

#partners .location_link:hover{
    border-bottom: 1px dashed black;
}

#partners .site_link:hover{
    border-bottom: 1px dashed black;
}

.selected {
    border-bottom: 3px solid #ffd629;
    color: black;
}
.selected-mob{
    background: #fff2bf;
}



@media only screen and (max-width: 768px){
    header #topImage .header{
        width: 410px;
    }
    header #topImage .regNumber{
        width: 160px;
    }
    header #topImage .women{
        width: 150px;
    }
}

@media screen and (min-width: 769px){
    header #topImage .header{
        width: 740px;
    }
    header #topImage .regNumber{
        width: 180px;
    }
    header #topImage .women{
        width: 170px;
    }
}




